header, nav, main {
    max-width: 1400px;
    margin: auto;
}
div.customer {
    section {
        grid-template-columns: 200px auto;
        column-gap: 8px;
    }
} // end customer
div.service-card-holder{

    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem .5rem;
}

/* NAVIGATION STUFF GOES HERE  */
