$primaryColor: #253D2c; 
$secondaryColor: #68ba7f;
$accentColor: #253d2c;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;