$primaryColor: #DA7F71; 
$secondaryColor: #A2F6FF;
$accentColor: #953025;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;