$primaryColor: #db0000;
$secondaryColor: hsl(0, 0%, 95%);
$fontColor: #1c1c1c;
$fontColorLight: #ffffff
;

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalweight: 400;
$mediumWeight: 500;
$boldWeight: 700;

$gutter: 16px;