$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$color1: #ff9999;
$color2: #fbf49b;
$color3: #a3fa9b;
$color4: #9bfaf2;
$color5: #9ba3fa;
$color6: #f29bfa;

$menuColor: #efefef; // holy useful

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;
