/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    img {
            width: 60px;
            height: auto;
            padding: 2px;
        }   
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    a {
        grid-column: 3 ;
        display: block;
        text-align: right;
        justify-content: right;
        font-size: .9rem;
        color: $accentColor;
        text-decoration: none;
        font-weight: $normalWeight;
        width: fill;
        img {
            width: 30px;
            height: auto;
        }
        &:hover {
            text-decoration: underline;
        }
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $primaryColor;

}
nav {

    ul {
        padding: 0;
        margin: $gutter;
       
        //margin: 0 $gutter;
        li{
        list-style-type: none;
         a {
            display: block;
            padding: .75rem $gutter;
            color: $greyColor;
            text-decoration: none;
            font-weight: $normalWeight;

        } // end nav a
        &:hover a {
            background-color: darken($primaryColor, 10%);
        }
        
    }
    .active a {
            background-color: rgba(255,255,255,0.8 );
            color: $primaryColor;
            border-radius: 10px;
        }
       
    }
    
}


/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
    div.gridparent {
        padding: .5rem $gutter;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (560px, 1fr));
        gap: $gutter;
        div {
            margin: 0;
            padding: 0;
            img {
                width: 100%;
                height: auto;
                display: block;
                border-top-right-radius : 10px;
                border-top-left-radius : 10px;
            }
            h2 {
                margin: 0;
                padding: .5rem 0;
                font-size: .9rem;
                color: $greyColor;
                text-align: center;
                background-color: $primaryColor;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer