$primaryColor: #551917; 
$secondaryColor: #175355;
$accentColor: #ac5552;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;