header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}

#primaryNav ul, #primaryNav ul.open {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    //width: auto;
    position: relative;
    background-color: white;
    li {
        border-bottom: none;
    }
}

/* NAVIGATION STUFF GOES HERE  */

main {
    .hero {
        > div {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: calc(100% - 32px);
            p {
                padding-bottom: 32px;
                font-size: 36px;
                line-height: 2rem;
            }
        }
    }
    .card-holder {
        section {
            width: calc((100% - 64px)/4);
            ul li {
                font-size: 14px;
            }
        }
    }
    .clients {
        h2 {
                margin: 0px;
                padding: 64px 0 32px 0;
            }
        div {

            img {
                //padding: 16px;
                width: calc(16% - 16px);
                padding: 32px 16px 64px 16px;
            }
        }
    }
}
footer {
    > div {
        width: calc(33% - 32px);
    }

}// end footer

