/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: end; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    img {
        width: 50px;
    }
    #hamburgerBtn {
    position: relative;
    height: 44px;
    width: 44px;
    cursor: pointer;
    .top, .bottom, .middle {
        position: absolute;
        height: 2px;
        width: 50%;
        left: 25%;
        background-color: $secondaryColor;
        transition: all .3s ease;
    }
    .top {
        top: 30%;
    }
    .bottom {
        top: 70%;
    }
    .middle {
        top: 48%;
    }
}

#hamburgerBtn.open {
    .top, .bottom {
        top: 48%;
        width: 60%;
        left: 20%;
    }
    .top {
        transform: rotate(45deg);
    }
    .bottom {
        transform: rotate(-45deg);
    }
    .middle {
        opacity: 0;
    }
} //end open
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#primaryNav {
    position: relative;
}

nav ul {
    position: absolute;
    right: $gutter;
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 999;
    background-color: #f8efef;
    li {
        border-bottom: 1px solid $greyColor;
        background-color: white;
    }
    li a {
        font-weight: 500;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        color: $secondaryColor;
    }
    li.active a {
        color: $primaryColor;
        background-color: white;
    }
}
nav ul.open {
    display: block;
    li a {
        text-align: right;
    }
}


/* --------------------------- MAIN --------------------------- */


main {
    h1, p, h2 {text-align: center;}
    h1 , p {margin: 0px;}
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 3rem;
        color: $secondaryColor;
        font-weight: 500;
        margin: 0px;
    }
    h2 {
        font-size: 30px;
        font-weight: 400;
        color: $secondaryColor;
        margin-bottom: 12px;
    }
    p {
        padding: .5rem $gutter;
        color: $primaryColor;
        line-height: $leading;
    }
    .card-holder, .clients {
            padding: 0 16px;
    }
    .hero {
        position: relative;
        video{
            width: 100%;
            height: auto;
        }
        > div {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            background-color: rgba(255,255,255,0.7);
            padding: 8px;
            margin: 16px;
            border-radius: 8px;
            width: 33%;
            //display: flex;
            //flex-direction: column;
            //justify-content: space-between;
            div {
                background-color: #f85850;
                height: 8px;
                border-radius: 4px;
                margin-top: 10px;
                width: 67%;
                margin-top: 2px;
                position: absolute;
            }
        }
        div > p {
            color: $secondaryColor;
            text-align: left;
            align-self: center;
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 1rem;
            //height: 100%;

        }
    }
    .card-holder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $gutter;
        section {
            border-radius: 16px;
            overflow: hidden;
            background-color: #eeeeee;
            box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.2);
            h3 {
                text-align: center;
                margin: 0px;
                padding: 16px 0 4px 0;
                color: white;
                background-color: $primaryColor;
            }
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
            ul {
                margin: 16px 0px;
                li{
                    padding: 2px 0px;
                }
            }
            ul li::marker {
                color: $primaryColor;
            }
        }
    }
    .clients {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            img {
                padding: 16px;
                width: calc(50% - 32px);
                height: auto;
                display: block;
            }
        }
    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: #111111;
} // end footer wrapper

footer {
    > h2 {
        color: white;
        font-size: 2rem;
        margin: 64px;
    }
    > p {
        border-top: 1px dashed #7b7b7b;
        padding: 32px;
        font-size: 16px;
        margin: 0px;
        color: white;
    }
    font-size: .85rem;
    padding: 0;
    color: #7b7b7b;
    text-align: center;
    line-height: $leading;
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2, p, div {
        //grid-column: 1 / 4;
        text-align: center;
        width: 100%;
    }
    > div {
        display: flex;
        flex-direction: column;
        padding: 16px;
        h2, p {
            margin: 8px;
            text-align: left;
        }
        h2 {
            font-size: 2rem;
        }
        > p {
            text-align: left;
            font-size: 1rem;
            padding: 16px;
        }
    }
}// end footer