/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}
/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: #ddd;
}
nav {
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        list-style-type: none;
    }
    ul li a {
        color: &primaryColor;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: .8rem $gutter;
        border-bottom: dashed 1px rgba(0,0,0,0.2);
    }
    ul li:last-child a {
        border-bottom: none;
    }
    ul li.active a {
        color: $secondaryColor;
        font-weight: $normalWeight;
    }
}



/* --------------------------- MAIN --------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        padding: 1rem $gutter .5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }

    picture {
        img{
            width: 100%;
            height: auto;
        }
        
    }
    video {
        width: 90%;
        margin-left: 5%;
    }

    details {
        margin: .5rem $gutter;
        display: flex;
        align-items: center;
        flex-direction: column;
            summary {
            background-color: $primaryColor;
            border-radius: 8px;
            text-align: center;
            color: white;
            width: 40vw;
            height: fit-content;
            padding: 13px 5px;
            list-style-type: none;
        }    
        }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor;
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}

    //position: fixed;
    //left: 0;
    //bottom: 0;
    //width: 100%;
    //background-color: $primaryColor;
}// end footer