$primaryColor: #112A46; 
$secondaryColor: #ACC8E5;
$accentColor: #FA8072;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;